.student-container{
  width:100%;
  max-width: 1200px;
  padding: 5 10px;
  margin: 30px auto;
}

.student-container header{
  display: flex;
  align-items: center;
  background-color: #282c34;
  min-height: 20vh;
}

.student-container header img{
  height: 50px;
}

.student-container header button{
  height: 50px;
  width: 200px;
  border-radius: 5px;
  /*border: 1px solid #DCDCE6;
  background-color: green;*/
  margin-left: 16px;
  transition: border-color 0.5s;
}

.student-container header button:hover{
  border-color: #510bac;
}